
html,
button,
input,
select,
textarea {
    color: #808080;
}

html {
    font-size: 12px;
    line-height: 1;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
a
{
	color:#4fa12c;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
a{
	text-decoration: none;
 }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.pull-left {
	float:left
}
.pull-right {
	float:right !important
}
 input[type="text"], input[type="password"]
{
	display: block;
	width: 100%;
	height: 28px;
	background-color: #fff;
	border: solid 1px #e8e8e8;
	padding: 5px 12px;
	color: #555;
	font-size: 12px;
	line-height: 1.42857143;
	
}
 input[type="text"]:active,
 input[type="text"]:focus
{ 
	outline: none;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.c_blue{
	background:#15a19f;
	color:#fff;
}
.c_white{ 
	background:#f2f2f2;
}
.c_green{
	background:#3ba042;
	color:#fff;
}
.c_yellow{
	background:#a3e664;
	color:#3d3d3d;
}
.c_dark_blue{
    background:#0D636A;
    color:#ffffff;
}
.l_grey {
	background:#e6e6e6;
}
html,
body {
 margin:0;
 padding:0;
 height:100%;
 font-family: Arial;
 min-width: 1000px;
 width: 100%;
}
#wrapper {
 min-height:100%;
 width: 100%;
 position:relative;
 overflow: hidden
}
#header {
	background:#3d3d3d;
	height: 61px;
	position: fixed;
	top:0;
	z-index: 998;
	width: 100%;
}
#header.fix {
	position:relative;	
}
#content.fix {
	padding-top:0;   
	padding-bottom:225px;
}
#content {
	padding-bottom:225px;
	padding-top: 61px;
}
#footer ul li{
    margin-bottom: 0;
}
#footer {
	width:100%;
	height:225px;
	position:absolute;
	bottom:0;
	left:0;
	background:#fff;
}
#footer.l_grey {
	background:#e6e6e6;
}
.container {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}
#header ul {
	list-style: none;
	padding:0;
	line-height: 61px;
}
#header ul li {
	position: relative;
	float: left;
}
#header ul li  a {
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
	 font-family: 'acrombold';
}
#header ul li  a:hover {
	text-decoration: underline;
}
#header .logo {
	padding: 11px 0 0 0;
}
.menu-top {
	margin: 0 0 0 115px;
	}
.menu-top li {
	margin-right: 28px;
}
.menu-top li a {
	color: #fff;
	}
.menu-top-right li a {
	color: #a5e764;	
}
.menu-top-right {
	margin: 0
	}
.menu-top-right li {
	margin-left: 22px;
}
.register-icon,
.enter-icon {	
	padding-left: 23px;
}
.register-icon {
	background: url(http://kidris.ru/style/images/register-icon.png) no-repeat left 3px;
}
.enter-icon {
	background: url(http://kidris.ru/style/images/enter-icon.png) no-repeat left 3px;
}
#footer h2 { 
	text-transform: uppercase;
	font-size: 14px;
	color: #4d4d4d;
	margin-top: 37px;
}
#footer ul {
	list-style: none;
	margin:0;
	padding:0;
	float: left;
	margin-top: 8px;
	margin-right: 79px;
	}
#footer ul li 
	{
	width: 100%;
	}
#footer ul li a {
	color:#4fa12c;
	line-height: 24px;
	text-decoration: none;
}
#footer ul li a:hover {text-decoration: underline;}
/*.footer-menu-home {
	width: 210px;
	padding-left: 4px;
}
.footer-menu-contacts {
	width: 210px;
	padding-left: 25px;
}
.footer-menu-social{
	margin-left: 28px;
}*/
#footer .footer-menu-home ul:last-child,
#footer .footer-menu-social ul:last-child,
#footer .footer-menu-contacts ul:last-child,
#footer .footer-menu-advert ul:last-child,
#footer .footer-menu-author ul:last-child, {
    width: 180px;
    margin-right:0;
}
#footer .footer-menu-social,
#footer .footer-menu-contacts {
    width: 180px;
}
#footer .footer-menu-social ul li a{
	color:#808080;
}
.typo  {
	height: 450px
}
.typo .container {
	height: 100%;
	background: url(http://kidris.ru/style/images/typo.png) no-repeat left 50%;
	}
.type-container{
	padding: 50px 0 0 0;
	width: 430px;
}
.typo_head	{
		font-size: 24px;
		text-transform: uppercase;
		font-weight: bold;
		padding: 24px 32px;
		line-height: 30px;
		border: 2px solid #a5e764;
		font-family: 'acrombold';
	}
.typo_body {
	padding: 26px 0 0 37px;
    line-height: 24px;
    font-size: 14px;
}
div.longtime_head {
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: normal;
    padding: 24px 32px;
    margin: auto;
    line-height: 54px;
    font-family: 'acrombold';
    color: #ffffff;
}
div.longtime_body article {
    display: inline-block;
    width: 33%;
    text-align: center;
    color: #fff;
    font-size: 14px !important;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 30px;
    margin: 30px 0px 0px;
}
div.longtime_body span {
    display: block;
    font-size: 36px !important;
    color: #a5e764;
    font-weight: 700;
    font-family: 'acrombold';
    padding: 20px 0 10px 0;
}
div.longtime_body img{
    width: 184px;
    height: 184px;
}
.mini  {
	width: 497px;
	background:#fff;
	margin-top: 85px;
	padding-bottom: 32px;
	
}
.mini.person,.mini.customer{
	position: relative;	
	height: 507px;
}
.mini.person:before,
.mini.customer:before{
	position: absolute;
	content: '';
	display: block;
	right: 70px;
	top: -41px;
	background: url(http://kidris.ru/style/images/mini-person.png) no-repeat;
	width: 139px;
	height: 122px;
}
.mini.person:before {
	background-position:right 0;
}
.mini.customer:before {
	background-position:left 0;
}
.mini ul {
	margin: 0;
	padding: 30px 37px 0 67px;;
}
.mini ul li {
	list-style: none;
	line-height: 18px;
	color: #4a4a3e;
	font-size: 14px;
	position: relative;
	margin-bottom: 15px;
	font-family: Verdana
}
.mini ul li:before {
	content: '';
	display: block;
	position: absolute;
	left: -30px;
	top: 1px;
	width: 14px;
	height: 11px;	
	background: url(http://kidris.ru/style/images/mini-li.png) no-repeat;
}
.mini h3 {
	line-height: 81px;
	background:#a5e764;
	color:#3d3d3d;
	font-size: 25px;
	padding-left: 38px;	
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}
.mini-container {
	height: 650px;	
	background: url(http://kidris.ru/style/images/shadow-person.png) no-repeat 130px -86% #f2f2f2;
	margin: 0 auto;
	width: 100%;
	max-width: 1280px
	
}
.mini-btn {
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding: 17px 48px;
	background: #4fa12c;
	text-decoration: none;
	margin-left: 37px;
	margin-top: 30px;
	/* display: block; */
	float: left;
	-webkit-transition: background 75ms linear;
	-moz-transition: background 75ms linear;
	-ms-transition: background 75ms linear;
	-o-transition: background 75ms linear;
	transition: background 75ms linear;
}
.small-btn {
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 12px 18px;
	background: #4fa12c;
	text-decoration: none;
	margin-left: 0;
	margin-top: 12px;
	margin-bottom: 22px;
	float: left;
	font-family: Verdana;
	-webkit-transition: background 75ms linear;
	-moz-transition: background 75ms linear;
	-ms-transition: background 75ms linear;
	-o-transition: background 75ms linear;
	transition: background 75ms linear;
}
.back-btn i{
	background: url(http://kidris.ru/style/images/navi-lines.png) -12px -10px;
	height: 14px;
	width: 18px;
	display: inline-block;
	float: left;
	padding-right: 6px;
}
.back-btn i.next{
    background: url(http://kidris.ru/style/images/navi-lines.png) -45px -10px;
    height: 14px;
    width: 18px;
    display: inline-block;
    float: right;
    padding-right: 6px;
}
.small-btn:hover,
.mini-btn:hover
 {
	background: #54ac2f;
}
.mini-btn.n-m {
	margin-top: 15px;
}
.how-block {
	width: 300px
}
.how-works   {
	height: 565px;
}

.how-works  .container {
	position: relative;
}
.how-works  .container .player {
	position: absolute;
	background: url(http://kidris.ru/style/images/how-it-works.png) no-repeat;
	width: 834px;
	height: 777px;
	right: -127px;
	top: 66px;
}
.how-works  h4 {
	font-size: 44px;
	line-height: 54px;
	color:#fff;	
	margin-bottom: 24px;
}
.how-works  ul  { 
	padding-left: 0;
	margin-top: 27px;
}
.how-works  ul li {
	font-size: 16px;
	color: #fff;
	width: 88%;
	clear: both;
	line-height: 20px;
	list-style: none;
	margin-bottom: 22px;
}
.how-works  ul li span {
	display: block;
	border-radius: 50%;
	color:#3ba042;
	font-size: 24px;
	width: 43px;
	line-height: 43px;
	background: #a5e764;
	float: left;
	text-align: center;
	margin-right: 13px;
}
.start-section {
	height: 219px;
}
.start-section .text-start h4 {
	color:#3d3d3d;
	font-size: 30px;
	text-transform: none;
}
.start-section .text-start {
	width:350px;	
	margin-top: 36px;
}
.start-section .btn-start {
	color: #fff;
	font-size: 25px;
	text-align: center;
	padding: 32px 98px;
	background: #4fa12c;
	text-decoration: none;
	margin-right: 140px;
	margin-top: 30px;
	text-transform: uppercase;
	margin-top: 65px;
	position: relative;
	z-index: 99;
}
.start-section .btn-start:hover {
		background: #54ac2f;
}
.mail-ico a,
.skype-ico a,
.icq-ico a,
.twitter-ico a,
.facebook-ico a,
.vk-ico a {
	padding-left: 25px;
}
.mail-ico a{
	background: url(../img/mail.png) no-repeat 0 50%
}
.skype-ico a{
	background: url(../img/skype.png) no-repeat 0 50%
}
.icq-ico a{
	background: url(../img/icq.png) no-repeat 0 50%
}
.twitter-ico a{
	background: url(../img/twitter.png) no-repeat 0 50%
}
.facebook-ico a{
	background: url(../img/facebook.png) no-repeat 0 50%
}
.vk-ico a{
	background: url(http://kidris.ru/style/images/img/vkontakte.png) no-repeat 0 50%
}

.notification {
	background: #4fa12c;
	width: 100%;
	display: none;
	margin-top: 61px;
	border-bottom: 2px solid #FFFFFF;
}
.notification .notification-body{
	line-height: 48px;
	font-family: Arial;
	font-size:16px; 
	font-weight: bold;
	text-align: center;
	width: 100%;
	color:#fff;
	overflow: hidden
}
.notification .container {
	position: relative;
}
.close-notification {
	background: url(../img/notification-close.png) no-repeat 0 50%;
	position: absolute;
	right: 0;
	top: 16px;
	width:13px;
	height:13px;
	cursor: pointer;
}
.register-menu li a span{
	background: #4fa12c;
	padding: 2px 5px 3px;
	margin-left: 16px;
}
.register-menu li a {
	padding: 3px 0 4px 28px;
}
.poddj-ico {
	background: url(../img/poddj.png) no-repeat 0 50%
}
.msg-ico {
	background: url(../img/msg.png) no-repeat 0 50%
}
.blnc-ico {
	background: url(../img/blnc.png) no-repeat 0 50%
}
#header .register-menu-author li a{
	font-size: 16px;
	color:#fff;
	text-transform: uppercase;
	padding-right: 25px;
	background: url(../img/drp-menu.png) no-repeat right 50%;
	position: relative;
	z-index: 999;
}
.heading-line {
	width: 100%;
	margin-top: 12px;
	line-height: 37px;
	background:#e3e3e3;
	color:#3d3d3d;
	font-weight: bold;
	padding-right: 19px;
	padding-left: 19px;
}
.title-stamp a {
	font-size: 14px;
	text-decoration: none;
}
.title-stamp a:hover {
	text-decoration: underline
}
.single {
	margin-bottom: 30px;
}
.single-pro .heading-line {


}
.td1,
.td2,
.td3,
.td4,
.td5 {
	float: left;
}
.td1 {
	width: 60%;
	padding-right: 32px;
}
.td1>span {
	float: left;
	padding: 0 16px;
	background: #ff4d07;
	font-size: 20px;
	margin-right: 18px;
	margin-left: -19px;
}
.td2 {
	width: 17%
}
.td3 {
	width: 10%
}
.td4 {
	width: 7%
}
.td4 img{
	margin-left: 6px
}
.td5 {
	float: right;
}
.td5 ul {
	padding: 0;
	float: right;
	list-style: none;
	margin:0;
}
.td5 ul li  {
	display: inline-block;
}
ul li.fav-icon a,
ul li.t-menu-icon a,
ul li.trash-icon a,
ul li.fav-icon2 a
 {
 	background: url(../img/actions.png) no-repeat;
	width: 16px;
	height: 16px;
	display: block
 }
ul li.fav-icon a:hover,
ul li.t-menu-icon a:hover,
ul li.trash-icon a:hover,
ul li.fav-icon2 a:hover {
	opacity:0.8
}
ul li.t-menu-icon a {
	background-position: -20px 0
}
ul li.trash-icon a {
	background-position: -40px 0
}
ul li.fav-icon2 a {
	background-position: -60px 0
}
.single-body  .td1{line-height: 14px;}
.single-body  {
	padding: 5px 16px 14px 16px;font-size: 12px; background: #f3f3f3; font-family: Verdana;}
.single-body p {font-weight: bold; margin:3px 0 6px 0;font-size: 14px;font-family: Arial;}
.single-body span.line {
	display: block;
	padding: 3px 0 6px 0;;
	}
.head_author_line {
	font-size: 30px;
	color:#282828;
	font-family: 'acrombold';
}
.menu-top.register-menu {
	margin-left: 152px;
}
.menu-top.register-menu  li {
	margin-right: 38px;
}
.information-line  {
	margin: 40px 0 45px;
}
.info_author_line {
	color:#4d4d4d;
	margin-left: 81px;
	margin-top: 13px
}
.inf-block-two {
	margin-left: 32px;
}
.inf-number {
	font-size: 18px;
	font-weight: bold;
	color:#282828;
	margin: 0 6px
}
.inf-qa {
	border-radius:50%;
	text-align:center;
	font-family: Arial;	
	font-size: 10px;	
	font-weight: bold;
	background:#9f9f9f;
	color:#fff;
	line-height: 16px;
	width: 16px;
	position: relative;
	display: inline-block;
	top: -3px;
	cursor: pointer;
	
}
.inf-number.red {
	color: #ff0101
}
.inf-number.green {
	color: #4fa12c
}
.inf-number.black {
	color: #3d3d3d
}
.inf-number.orange {
	color: #ff872f
}
.last_author_line {
	margin: 20px 0 0 0;
}
.last_author_line a {
	text-decoration: none;
	margin-left: 40px;
}
.filter-line {
	line-height: 24px;
}
.filter-line a  {
	text-decoration: none;	
	position: relative;
	font-family: Verdana;
}
 a.tr-filter-line:first-child {
	width: 200px;
	display: block;
	float: left
}
 a.tr-filter-line:nth-child(2){
	width: 150px;
	display: block;
	float: left
}
 a.tr-filter-line:nth-child(3){
	width: 220px;
	display: block;
	float: left
}
.filter-line a:hover  {
opacity: 0.7
}
.filter-line a  span{
	border-bottom: 1px dotted ;
	margin-right: 8px;
}
.filter-line a  i {
	margin-left: 0px;
	margin-right: 14px;
	position: relative;
	top: 11px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 4px 3.5px 0 3.5px;
	border-color: #4fa12c transparent transparent transparent;
}
.filter-line a.active i.active {
	border-width: 0 3.5px 4px 3.5px;
	border-color: transparent transparent #4fa12c transparent;
	top: -7px;
}
.filter-line a.projects-filter  i {
	border: none;
	width: 14px; height: 15px;
	background:  url(../img/filtr.png) no-repeat;
	float: left;
	top:6px;
	margin-right: 4px;
}
.filter-line a.projects-filter span {
	margin-right: 0
}

ul.yiiPager {margin-top: 12px; float: right}
ul.yiiPager ul{
	list-style: none;
	width: 100%;
	margin:0;
	padding:0;
	display: inline-block;
}
ul.yiiPager li {
	display: inline;
}

ul.yiiPager .page a, ul.yiiPager .previous a, ul.yiiPager .next a, ul.yiiPager .last a, ul.yiiPager .first a {
	margin: 0 2px;
	position: relative;
	float: left;
	font-size: 14px;
	padding: 10px;
	background-color:#c5c5c5;
	color:#fff;
	text-align: center;
	min-width:34px;
	min-height: 34px;
	text-decoration: none;
	font-weight: bold;
	 border: none;
	-webkit-transition: background 75ms linear;
	-moz-transition: background 75ms linear;
	-ms-transition: background 75ms linear;
	-o-transition: background 75ms linear;
	transition: background 75ms linear;
}
ul.yiiPager a:hover, ul.yiiPager .previous a:hover, ul.yiiPager .next a:hover, ul.yiiPager .last a:hover, ul.yiiPager .first a:hover {background-color:#3d3d3d;}
ul.yiiPager a:active, ul.yiiPager .previous a:active, ul.yiiPager .next a:active, ul.yiiPager .last a:active, ul.yiiPager .first a:active {background-color:#4ea12c;}
ul.yiiPager .selected a{background-color:#4ea12c;}
ul.yiiPager .hidden a{border:solid 1px #bababa;color:#888888;}
ul.yiiPager .next a {margin-right:22px;}
ul.yiiPager .previous a {margin-left:22px;}


.push-4 {
	width: 335px;
	margin-right: 68px
}
.push-3 {
	width: 245px;
	margin-right: 40px
}
.push-4.n-mrg {margin: 0;float: right}
.control-group {
	margin-bottom: 15px;
	font-size: 12px;
	color:#4d4d4d;
	font-family: Verdana
}
.control-group label {
	display: inline-block;
	margin-bottom: 9px;
}
.control-group input[type="text"],
.control-group input[type="password"],
.control-group textarea,
.control-group select
{
	display: block;
	width: 100%;
	height: 28px;
	background-color: #fff;
	border: solid 1px #e8e8e8;
	padding: 6px 12px;
	color: #555;
	font-size: 12px;
	line-height: 1.42857143;
		-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	transition: all 150ms linear;

}
.control-group textarea {
	height:265px;
	resize: none;
}
.control-group input[type="text"]:active,
.control-group input[type="password"]:active,
.control-group input[type="text"]:focus,
.control-group input[type="password"]:focus,
.control-group textarea:focus
{ 
	outline: none;
	border-color: #4fa12c;
}
.scroller {
	overflow: auto;
	padding: 4px 2px 4px 9px;
	width: 100%;
	height: 148px;
	background-color: #fff;
	border: solid 1px #e8e8e8;
}
.push-3 label,
.push-4 label{
	margin-bottom: 5px;
	display: inline-block
}
.checkbox {
	margin: 5px 0;
	color: #3d3d3d;
}
.radio {
	margin: 0 0 20px;
	color: #4d4d4d;
}
.checkbox label,
.radio label {
	cursor: pointer;
}
.btn-wrap .mini-btn {
	margin: 18px 0 34px 0;
	text-transform: uppercase;
	font-family: 'acrombold';
	font-size: 12px;
	-webkit-transition: background 75ms linear;
	-moz-transition: background 75ms linear;
	-ms-transition: background 75ms linear;
	-o-transition: background 75ms linear;
	transition: background 75ms linear;
}
.head_author_line .mini-btn {
	margin: -2px 0 0 0;
	text-transform: uppercase;
	font-family: 'acrombold';
	font-size: 12px;
	-webkit-transition: background 75ms linear;
	-moz-transition: background 75ms linear;
	-ms-transition: background 75ms linear;
	-o-transition: background 75ms linear;
	transition: background 75ms linear;
}
.information-line.line-n-margin {
	margin-bottom: 15px
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: Arial;
	text-align: left;
	margin-bottom: 45px
}
th{
	vertical-align: bottom;
	border: none;
	background:#e3e3e3;
	color:#4d4d4d;
	font-weight: bold;
	padding: 16px 20px;
	line-height: 1.42857143;
}
td {
	padding: 22px 20px;
	line-height: 1.42857143;
	vertical-align: middle;
	border: none;
}
tr:nth-child(even) td{
	background:#f2f2f2;
}
table .frth {
	width: 125px;
}
table .frth a:hover,
table .thth a:hover
{
	text-decoration: underline;
}

table.table_1 td.frth,
table.table_2 td.thth
 {
	color:#4fa12c
}
table.table_1 .thth {
	width: 800px;
}
table i {
	width: 16px;
	height: 16px;	
	display: block
}
table i.delete-icon {
	background: url(../img/actions.png) right 0 no-repeat;
}
table i.send-icon,
table i.edit-icon {
	background: url(../img/actions-2.png) 0 0 no-repeat;
		margin-top: 1px;
}
table i.deleti-icon {
		background: url(../img/deleti.png) 0 0 no-repeat;
		margin-top: 1px;
		width: 9px;
		height: 9x;	
		display: block;
		position: relative;
		top: 3px;
}
table.wrght-block tr th:last-child,
table.wrght-block tr td:last-child {
	width: 70px
}
.sm-last-child {
	width: 110px;
	padding-left: 20px;
	padding-right: 0px;
}
table i.send-icon {
	background-position: right 0;

	margin-right: 2px;
}

i.zvk-icons:hover{
	opacity: .8;
}
i.send-icon_white {
	display: block;
	width: 18px;
	height: 18px;
	margin: 4px 2px 0 -4px;
	background: url(../img/actions-2_white.png) 0 0 no-repeat;
	background-position: right 0;
}
table a{
	margin: 0 7px;
}
table p{
	margin:0;
	line-height: 24px;
}
table a:hover{
	opacity: 0.8
} 
table.table_2 td.thth.heading-wrk { 
	color:#4d4d4d;
}
table .frth.heading-grp{
	width: 230px;
	vertical-align: top;
}
table .text-right {
	text-align: right;
}
table .text-green {
	color: #4fa12c;
}
.heading-grp p a{
	font: bold 14px  Verdana;
	color:#4fa12c;
	margin:0;
}
.heading-grp p a:hover{
	text-decoration: underline;
}
.valig-t {
	vertical-align: top;
}
.head_author_line.search-group {
	width: 580px;
}
.head_author_line.search-group-2 {
	width: 100%;
}
.search-icon {border: none}
.head_author_line.search-group input{width: 544px}
.head_author_line.search-group-2 input{width: 96.6%;}
.head_author_line.search-group-2 .search-icon,
.head_author_line.search-group .search-icon
{
	width: 32px;
	height: 28px;
	display: block;
	cursor: pointer;
	background: url(../img/search-line-icon.png) 0 0 no-repeat;	
}
.head_author_line.search-group-2 .search-icon:hover,
.head_author_line.search-group .search-icon:hover{
	opacity:0.85
}
.wrght-block .head_author_line .mini-btn{
	margin-top: -10px
	}
.filter-line.wrght-block {
	margin: 35px 0 22px;
}
.filter-line.wrght-block b {
	background: #4fa12c;
	padding: 4px 5px 3px;
	margin-left: 5px;
	margin-right: 12px;
	color:#fff;
}
.wall {
	background:#e9e9e9;
	font: 12px Verdana;
	padding: 16px 24px 24px;
	line-height: 22px;
	width: 100%;
	margin-bottom: 75px;
	color:#4d4d4d
}
.inner-player{
width: 547px;
height: 348px;
margin: 25px 0 0 95px;
}
.create-ticket .frth {
	width: 180px
}
.heading-title-table {
	color:#282828;
	font-size: 18px;
	font-family: 'acrombold';
	line-height: 32px;
	margin-bottom: 8px;
}
.heading-title-table.more-fs {font-size: 24px;}
.heading-title-help {
		line-height: 32px;
	margin-bottom: 8px;
}
.heading-title-help:hover{
	text-decoration: underline
}
.heading-tarif p {
	font: bold 18px Verdana;
	color:#4d4d4d
}
.heading-rang {
	text-align: center
}
.heading-rang p {
	font: bold 22px Verdana;
	color:#4d4d4d
}
.single-finance {	
	width: 483px; 
	padding: 19px;
	background:#e6e6e6;
	font:12px Verdana;
	color:#4d4d4d;
	margin-bottom: 15px;
	}
.single-finance h4 {
	font-size: 18px;
	margin-top: 5px;
}
.single-finance h5 {
	font:bold 12px Verdana !important;
}
.inner-wall {
	color:#8a8a8a;
	margin-top: 25px;
}
.inner-wall p {
	margin: 4px 0
}
.balance_story .mini-btn,
.single-finance .mini-btn {
	margin: 25px 0 0 0;
	font-size: 12px;
	font-family: 'acrombold';
	text-transform: uppercase;
	padding: 14px 44px;
	
}
.balance_story .mini-btn {	
	margin-top: 10px;
	margin-bottom: 35px;
	}
input[type="text"].small-input {
	width: 110px;
	border-color:#c5c5c5;
}
span.inline {
	line-height: 28px;
	margin-right: 25px;
}
.pay_sistems  { margin-bottom: 30px; overflow: hidden}
.pay_sistems  img{
	margin-right: 24px;
	margin-top: 10px;
}
.pay_sistems  img:last-child{margin-top: 7px;}
.balance_story {
	width: 440px;
}
.control-group-3 {
	width: 33%;
}
.timer input[type='text'] {
	width: 118px;
}
.timer i {
	width: 16px;
	height: 14px;
	display: block;
	background: url(../img/time.png) 0 0 no-repeat;	
	cursor: pointer;
	margin: 7px 27px 0 7px;
}
.back-news-line a {
	text-decoration: underline;
}
.news-body {
	line-height: 18px;
	color:#5c5c5c;
	font-family: Verdana;
	width: 660px
}
.time-stamp{color:#c0c0c0;}
.news-body .time-stamp{	
	margin: 30px 0 10px;
}
.navi-line {
padding: 20px 0 20px 0;
}
.lnk {
color: #4fa12c;
font-size: 12px;
text-decoration: underline;
}
.navi-line a{
	text-decoration: none
}
.navi-line a:hover{
	text-decoration: underline
}
.single-news {
	width: 695px;
	margin: 45px 0 25px;
}
.single-news-body {
	margin-bottom: 40px;
}
.single-news-body .wrap-img { 
	width: 97px;
	margin-right: 22px;
}
.single-news-body .wrap-text {overflow: hidden}
.single-news-body .wrap-text  p{line-height: 18px;}
.single-rules {
	margin: 25px 0 45px;
}
.single-rules h4{
	font-size: 18px;
	color:#282828;
	text-transform: none;
	margin-bottom: 15px;
}
.single-rules p{margin:0; line-height: 22px;color:#4d4d4d; font-family: Verdana}
.overlay {
	position: fixed;
	left: 0;
	right:0;
	top:0;
	bottom:0;
	z-index: 997;
	background: rgba(255,255,255,0.6);
	display: none;	
	}
	
.hidden-menu {
	background: url(../img/hidden-menu.png) no-repeat;
	width: 235px;
	position: absolute;
	z-index: 998;
	top:0;
	right:-19px;
	display: none;
	font-size: 14px;
	/*color: #fff;*/
	font-family: 'acrombold';
}
.hidden-menu a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}
.hidden-menu  .inner-menu { 
	padding: 0 19px;
	margin-top: 56px;
}

#header .container {
	position:relative;
}
.tumbler {
	width: 65px;
	height: 20px;
	background: url(../img/tumbler.png) no-repeat;
	float: left;
	position: absolute;
	left: 50%;
	margin-left: -21px;
	top: 77px;
	cursor: pointer;
		-moz-transition: all 0.2s ease 0;
	-webkit-transition: all 0.2s ease 0;
	transition: all 0.2s ease 0;
	
}
.tumbler:after{
	content:'';
	display: block;
	position: absolute;
	width:25px;
	height:16px;
	top: 2px;
	left:2px;
	background: url(../img/tumbler-switcher.png) no-repeat;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;

}
.tumbler.active:after {
	top: 2px;
	left: 38px;
}
.tmb-swt .zkz,
.tmb-swt .auth {
	cursor: pointer;
}
.tmb-swt.active .zkz,
.tmb-swt .auth 
{
	color:#fff;
	cursor: default
}
.tmb-swt.active .auth {
	color:#7c7b7b;
	cursor: pointer;
}
.filter-line a.active {
	font-weight: bold
}
.text-grey {color:#7c7b7b}
.hid-menu {
	line-height: 42px;
	height: 50px;
}
.hid-menu a:hover {
	color:#7c7b7b
}
.loader {
	width: 120px;
	height: 120px;
	top: 305px;
	left: 50%;
	margin-left: -60px;
	position: fixed;
	z-index: 1000;
	display:none;
}
.single-faq h2 {
	color:#282828;
	font: 18px Verdana;
	cursor: pointer;
}
.single-faq h2 span{	
	border-bottom: 1px dotted
}
.single-faq  ul {
	list-style: none;
	padding:0 0 0 19px;
}
.single-faq  ul li{
	line-height: 30px;
}
.faq-text a{
   border-bottom-style: solid !important;
}
.single-faq  ul li a{
	border-bottom: 1px dotted;
	color:#282828;
	font-family: Verdana
}
.single-faq  ul li a.active,
.single-faq h2:hover,	
.single-faq h2.active,	
.single-faq  ul li a:hover {
	color: #4fa12c
}
.settings-block {
	overflow: hidden;
	height: 0;
	min-width: 900px
}
.faq-text {
	padding: 12px;
	line-height: 18px;
	background: #F7F7F7;
	margin-left: 19px;
	display: none;
}
.single-faq ul {
	display: none;
}
.edit-persona .mini-btn{
	margin-left:0
}
.edit-persona {
	width: 435px;
	float:left;
	margin-top: 15px;
	font-family: Verdana
}
.edit-persona p {
	line-height: 18px;
}
.notice { 
	width: 480px;
	font-size: 12px;
	font-family: Verdana
}
.extra-line-switch ul {
	list-style: none;
	padding:0;
	margin-bottom: 25px
}
.extra-line-switch ul li {
	display: inline-block
}
.extra-line-switch ul li  a{
	padding: 4px 8px; margin-right: 20px;
}
.extra-line-switch ul li.active  a,
.extra-line-switch ul li  a:hover 
{
	background:#dadada;
	color:#3d3d3d
}
.edit-persona + .notice .wall,
.wall-no-margin
{	
margin-bottom: 25px;
}
.edit-persona + .notice {
	margin-top: 20px;
}
.btn-left .mini-btn  {
	margin-left: 0;
	margin-top:0;
	margin-bottom: 25px;
	font-size: 12px;
	color: #fff;
	font-family: 'acrombold';
	text-transform: uppercase
}
.project-img {
	margin-top: -8px;
	background: url(../img/pro-project.png) no-repeat;
	width: 182px;
	height: 45px;
}
.project-img label {
margin: 8px;
position: relative;
top: 14px;
}
.register_block, .signup_block{
	width: 412px;
	/*height: 430px;*/
	position: fixed;
	top: -500%;
	z-index: 9999;
	margin-left: -206px;
	left: 50%;
	box-shadow: -8px 8px 0px 0px rgba(204,204,204,0.6);
	background: #f2f2f2;
	font-size:12px; 
	font-family:Verdana;
	border: 1px solid #e2e2e2;
	display: block;
}

.compareTickets{
    cursor: pointer;
}

.comparePopup2{
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #e2e2e2;
    box-shadow: -8px 8px 0 0 rgba(204, 204, 204, 0.6);
    display: block;
    font-family: Verdana;
    font-size: 12px;
    height: 430px;
    left: 31%;
    margin-left: -206px;
    position: fixed;
    top: -600px;
    width: 1007px;
    z-index: 9999;
}

.signup_block {height: 250px}
.register_block .inner, .signup_block .inner {
	padding: 31px;
	padding-top: 20px;
}
.reg-close {
	position: absolute;
	right:12px;
	top:12px;
	width:13px;
	height:13px;
	background: url(../img/reg-close.png) no-repeat;
	cursor: pointer;
}
.control-labels label.first-label {
	margin-bottom: 10px;
	margin-top: 10px;
}
.register_block .wall-inner, .signup_block .wall-inner {
	margin-bottom: 15px;
	line-height: 18px;
	
}
.dialog-line {
	margin-top: 14px;
	}
.dialog-line a {
	margin-left: 20px;
	padding-left: 8px;
	display: block;
	float:left;
	
}
.dialog-line a:hover {
	text-decoration: underline
}
a.sets-icon i,
a.alert-icon i
 {
	background: url(../img/dialog-sprite.png) no-repeat;
	float: left;
	display: inline-block;
	width: 15px;
	height: 15px;
	position: relative;
	top: -2px;
	margin-right: 8px;
 }
a.alert-icon i {
	background-position: right 0
 }
 .dialog-block textarea 
 {
	height: 150px;
	margin-top: 25px;
 }
 .extra-buttons {width: 700px}
 .extra-buttons .mini-btn {
	margin:0;
	font-size: 12px;
	text-transform: uppercase;	
	font-family: 'acrombold';
 }
.mini-btn.btn-grey {
	font-size: 10px;
	background:#c4c4c4;
	padding: 14px 18px;
} 
.mini-btn.btn-grey:hover {

	background:#cecece
} 
.inline-btn span {
	line-height: 38px;
	padding-left: 20px;
	color: #a0a0a0;
	font-size: 12px;
	font-family: Verdana
}
.single-comments p{margin:0;}
.single-comments {
    text-rendering: optimizelegibility;
    -ms-word-break:   break-all;
    word-break:       break-word;
    word-wrap:        break-word;
    -webkit-hyphens:  auto;
    -moz-hyphens:  auto;
    hyphens:  auto;
	padding: 19px;
	background: #f3f3f3;
	color:#282828;
	font-size: 12px;
	font-family: Verdana;
	margin-bottom: 14px;
	}
.single-comments p.comments-heading{
	color:#888888;
	margin-bottom: 14px;
}
.single-comments-second {
	background:#e7f2db;	
	margin-bottom: 19px;
}

p.attach-footer{
	padding: 19px 0 12px;
	color: #888888
}
p.attach-footer .attach a {
	background: url(../img/attach.png) no-repeat left 0;
	padding-left: 22px;
}
p.attach-footer .attach a:hover{ text-decoration:underline}
.dialog-block-new {
	width: 100%;
}
.pad-19-v {
	color:#5c5c5c;
	line-height: 18px;
}
.pad-19-v p{
	margin: 0 0 10px
}
.dialog-block-new .inline-btn span {
	display: block;
	line-height: 1;
	margin-left: 140px;
	width: 50%;
	margin-top: 8px;	
}
.dialog-block-new .mini-btn {
	padding: 17px 18px
}
.floating-info {
	font: 12px Verdana;
	color: #888888;
	margin-left:22px;
	position: relative;
	top:-3px;
}
.author_number {
	position: relative;
	color:#9a9a9a;
	font-size:18px;
	top: -12px;
	}
.back-author {
	position: relative;
	font-size: 12px;
	/* top: -12px; */
	float: left;
	margin: 16px 12px 0 0;
	font-family: Verdana;	
}
.back-author a:hover {
	text-decoration: underline;
}
.aut_1 {
	width: 250px;
	vertical-align: top;
}
.aut_2 {
	width: 450px;
	vertical-align: top;
}
.aut_3{
	vertical-align: top;
}
.aut_2 p {
	margin: 0;
	line-height: 1.4
}
.aut_3 p,
.aut_2 p
{
	color:#4d4d4d;
	font: 12px Verdana
}
.aut_3 p {
	margin: 0;
	line-height: 1.4
}
.author_name {
font: bold 14px Verdana;
}
a.author_name:hover {
	text-decoration: underline
}
ul.unstyled {
	list-style: none;
	padding:0;
	margin: 0 0 0 8px
}
ul.unstyled li{
	float: left;
	margin: 5px 3px 0 0
}
ul.author_list_action li a {
	margin:0
}
ul.author_list_action li a i{
	display: block;
	width: 20px;
	height: 17px;
	background: url(../img/author-list-action.png) no-repeat;
}
ul.author_list_action li a i.send_au_icon {
	background-position: 0 0;
}
ul.author_list_action li a i.money_au_icon {
	background-position: -24px 0;
}
ul.author_list_action li a i.bd_au_icon {
	background-position: -48px 0;
}
ul.author_list_action li a i.tr_au_icon {
	background-position: -70px 0;
}
ul.author_list_action li a i:hover {
	opacity: 0.8
}
.nm-form-line { margin-top: 3px; width: 330px}
.nm-form-line span{ margin-top: 8px; margin-right: 45px;}

.nm-form-line ul.author_list_action li i {
	background: url(../img/au-st-tr-fa-icons.png) no-repeat;
}
ul.author_list_action li i.alert_au_icon {
	background-position: 0 0
}
ul.author_list_action li i.tra_au_icon {
	background-position: -22px 0;
}
ul.author_list_action li i.star_au_icon {
	background-position: -44px 0
}
.all-pad-25 {
	padding:25px
}
.bg-grey {
	background:#f2f2f2;
}
.left-wrapper-project {
	width: 760px
}
.mini-btn.ardor-button {
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'acrombold';
	margin: 0;
	float: right;
}
.l_1 div,
.l_2 div,
.l_3 div,
.l_4 div{
	height: 30px;
	line-height: 30px
}
.l_1
 {
	color:#a7a7a7;
	font-size: 14px;
	width: 130px;
	font-family: Arial
 }
 .l_2
 {
	color:#3d3d3d;
	font-size: 12px;
	width: 450px;
	font-family: Verdana
 }
.l_2 .l-2-1 {	
	font-size: 14px;
  }
  .l_3 {	
  width: 100px
 }
 .l-2-2 a:hover {text-decoration: underline}
 .l_4 {
	font-family: Verdana;
	color:#3d3d3d;	
	}
 .l_4 .l-4-1 {
	font: bold 18px Verdana;
	line-height: 1.55
 }
.form-ul{margin-top: 3px;}
.form-ul li  a{
	float:left;	
	margin-right: 5px
}
.form-ul li  a:hover{
	opacity: 0.8
}
.form-ul li {
	float: left;
}
  i.project-icons {
	background: url(../img/project-icons.png) no-repeat;
	display:block;
	width:18px;
	height:17px;
  }
 i.project-icons.swit_ico {
	background-position: 0 0
 }
  i.project-icons.send_ico {
	background-position: -25px 0
 }
  i.project-icons.to_ico {
	background-position: -51px 0
 }
 .r-pad-25 {
	padding: 25px;
 }
.wall-inner-text {
	width: 650px;
	color:#3d3d3d;
	font:12px Verdana
}
.wall-inner-text p {
	margin: 0px;
	line-height: 24px;
}
.wall-inner-table h5 {
	font-size: 18px;
	color:#3d3d3d;
	text-transform: none;
	margin-top:0
}
.wall-inner-table {
	overflow: hidden;
	color:#a7a7a7;
	font-family: Arial;
	font-size: 14px;
	line-height: 14px
}
.wall-inner-table table .overs_black{ color:#3d3d3d}
.wall-inner-table  .overs tr:nth-child(odd) td {
	background: #f2f2f2;
	padding: 16px 20px;
}
.wall-inner-table  .overs tr:nth-child(even) td {
	background: #fff;
	padding: 16px 20px;
}
.addition-info .addition-line {
	padding: 23px;
	min-height: 58px;
	border-bottom: 1px solid #d6d6d6;
	font-size: 14px;
}
.addition-info .addition-line:last-child {
	border:none;
}
.addition-info .add-name {
	width: 160px;
	color:#a7a7a7;
	float: left
}
.addition-info .add-text {
	color:#3d3d3d;
	float: left
}
.addition-info .add-text.red-text {
	color:#ff0000
}
ul.green-circles {
    list-style: none;
    padding:0;
    margin:0;
}

ul.green-circles li { 
    padding-left: 1em; 
    text-indent: -1em;
	font: 12px Verdana;
	color:#3d3d3d;
	line-height: 24px;
}
ul.green-circles li a:hover {
	text-decoration: underline;
} 
ul.green-circles li:before {
    content: "вЂў ";
    color: #4fa12c;
}
.wall h5 {
	color:#3d3d3d;
	font-size: 18px;
	margin: 15px 0;
}
.left-add-inf h3{
	text-transform: none;
	color:#3d3d3d;
	font-size: 18px
}
.left-add-inf {
	width: 430px;
}
.left-add-inf label{
	margin-bottom: 8px;
	color:#282828
}
.left-add-inf span.text-grey{
	display: block;
	padding: 5px 0;
}
.lnk-dotted {
	display: block;
	margin: 5px 0;
	border-bottom: 1px dotted;
}
.mini-btn.no-margin,
.btn.no-margin
 {
	margin: 21px 0 
}
.mini-btn.no-btn, 
.mini-btn.no-btn:hover 
{
	background: none;
	color:#ff0000;
	text-decoration: underline;
	font-size: 12px
}
.mini-btn.no-btn:hover {
	opacity: 0.7
}
.wall-no-margin {
	margin: 15px 0 
}
.wall-half-margin {
	margin: 15px 0 30px 
}
.wall-one-line {
	padding: 8px 19px;
}
.information-line.no-margin {
	margin-bottom: 25px;
}
.table_3 td{
	vertical-align:  top;
	color:#4d4d4d;
	font: 12px Verdana;
	line-height: 16px
}
.text-black {
	color: #3d3d3d
}
.text-red {
	color:#ff0000
}
a:hover i.studio-icons {
	opacity: 0.8
}

i.studio-icons {
	background: url(../img/studio-sprite.png) no-repeat;
	display:block;
	width:20px;
	height:18px;
	margin: 0 2px 0 0
}
i.studio-icons.alert-icon {
	background-position: 3px 0 ;
	}
i.studio-icons.sends-icon {
	background-position: -20px 0 ;
	}
i.studio-icons.user-icon {
	background-position: -40px 0 ;
	}
i.studio-icons.deletes-icon {
	background-position: -60px 0 ;
	}
i.studio-icons.money-icon {
	background-position: -85px 0 ;
	}
i.studio-icons.breaf-icon {
	background-position: -110px 0 ;
	}
.zvk-head  a{
	margin:0
}
.zvk-head {
	margin: 0 0 15px 0
}
.author a {margin-right: 12px}
.author a:hover {text-decoration: underline}
.author  {margin-right: 12px}
.zvk-head {
display: inline-block
} 
.zvk-head ul li{margin: 0 3px 0 0 !important}
.zvk-head ul li a{margin: 0 !important; float: none}
.zvk-footer .lnk-dotted{
	display: inline;
	margin:0
}
.zvk-body {
	margin-bottom: 20px;
}
.zvk-footer {
	color:#8c8c8c
}
.zvk-footer p{
	margin: 10px 0;
	line-height: initial;
}
table td.unpud-td {
	padding-right:10px
}
table.table_3 td,
table.table_3 th
 {
	padding: 18px 16px;
}
table.table_3 th
	 {
	padding: 12px 16px;
}
table.table_3 td a {
margin:0}
i.refresh {
	background: url(../img/refresh-spin.png) no-repeat;
	display: block;
	width: 14px;
	height: 19px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
i.refresh:hover
 {
-moz-transform: scale(1.1) rotate(360deg);
-webkit-transform: scale(1.1) rotate(360deg);
-o-transform: scale(1.1) rotate(360deg);
-ms-transform: scale(1.1) rotate(360deg);
transform: scale(1.1) rotate(360deg);
}
th .last-child-span {
	margin-left: 34px;
}
.xtr-action{
	margin-top: -4px;
	margin-left: 38px;
	width: 130px;
}
.xtr-action div.pull-left {
	margin: 0 8px 0 0 ;
}
.xtr-action div.l-f-2{
	margin-top: 3px;
	margin-right: 15px;
}
.xtr-action div.l-f-3{
line-height: 25px;
}
.relative {
	position:relative;	
	min-height: 200px;
}
.flv-bot {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.flv-bot a {
	font-family: 'acrombold';
	font-size: 12px;
	text-transform: uppercase;
	color:#fff;
}
.btn {
	text-align: center;
	padding: 17px 48px;
	background:#a1a1a1;
	-webkit-transition: background 75ms linear;
	-moz-transition: background 75ms linear;
	-ms-transition: background 75ms linear;
	-o-transition: background 75ms linear;
	transition: background 75ms linear;
}
.btn:hover {
	background:#B1B1B1;
	
}
.flv-bot .btn,
.flv-bot .mini-btn {
	padding: 7px 18px
}
.btn-grp {
	overflow: hidden;
	width: 100%;
	margin-top: 10px;
}
.btn-grp .btn{
	margin-right: 12px;
}
.ans-line {
	margin-bottom: 25px;
	color:#8c8c8c;
	font: 12px Verdana
}
.ans-line .sm-table {
	width: 36px;
	display: inline-block;
	text-align: center;
	margin: 0 0 10px 0;
}
.dark-grey {
	background: #3d3d3d;
}
.true-btn {
	font-family: 'acrombold';
	font-size: 12px;
	text-transform: uppercase;
	color:#fff;
	padding: 12px 34px;
}
.xtr-link a:hover {text-decoration: underline;}
.chs-zvk {
	font: 14px Verdana;
	color:#fff;
	line-height: 78px;
	
}
.mini-btn.no-margin.true-btn , .btn.no-margin.true-btn  {
	margin-left: 7px
}
.chs-zvk .xtrra {
	font:bold 18px Verdana;
}
.table_3 {
	margin: 30px 0;
}
.container .table_3_first_child {
	margin-top: 15px;
}
table a:hover,
.information-line a:hover
{
text-decoration: underline
}
a.mini-btn:hover,
a.btn:hover {
	text-decoration: none;
}
.create-ticket tr:hover td{
	background: rgba(152, 161, 44, 0.28);
	color: #666;
	cursor: pointer;
}
.show-hide-password  {
	position: relative;
}
.show-password {
	position: absolute;
	right: 8px;
	bottom: 8px;
	width:18px;
	height:11px;
	cursor: pointer;
	background: url(../img/eye.png) no-repeat;
	opacity:0.8
}
.show-password:hover {
	opacity:1;
}
.new-group,
.new-breaf
 {
	display: block;
	top: -500px;
	height: auto;
}
.tab_content {
display: none;
}
.white-wall {
	background: none;
	padding-top:0
}

.white-wall .checkbox {
	overflow: hidden;
	padding: 10px 19px;
	margin:0
}
.white-wall .checkbox.active {
	background: #e6e6e6
}
.white-wall b {
	padding: 0 0 0 19px;
	margin-bottom: 15px;
	display: block
}
.half-int {
	width: 45%;
	margin-bottom: 7px;
}
.half-int input[type='text']{
	float: left;
	width: 96%
}
.half-int .inf-qa {
	top: 2px;
	left: 12px;
	cursor: pointer;
}
.tab-group .half-int .inf-qa {
	top: 6px
}
.inf-qa:hover {
	background:#54ac2f;
}
.tab-group h2 {
	color:#282828;
	font-size: 24px;
	text-transform: none
}
.control-group.inline-checkbox label{
	margin-bottom: 10px;
	color:#282828
}
.control-group.inline-checkbox .checkbox{
	float: left;
}
.control-group.inline-checkbox .checkbox{
	float: left;
	margin: 0 10px 0 0
}
.control-group.inline-checkbox .checkbox .icheckbox_minimal-grey{
	display: block;
	margin-bottom: 5px;
}
.inline-checkbox .timer {
	margin-left: 62px
}
.inline-checkbox .timer span.inf-qa {
	top: 6px
}
.inline-checkbox .timer span.inline {
	margin-right: 12px;
}
.inline-checkbox .timer input[type="text"]{
		width: 62px;
		margin-right: 8px;
}
.edit-persona .control-group {
	margin-bottom: 25px;
}
.under-input {
	display: inline-block;
	margin-top: 4px;
	overflow: hidden;
}
.control-group-no-margin {
	margin-bottom: 0
}
.head_author_line.extra-line {
	line-height: 38px;
	margin-left: 32px;
}
.head_author_line.extra-line a {
	font-size: 12px;
	margin-right: 28px;
	font-family: Verdana
}
.inf-block .control-group {
	width: 216px;
	margin-right: 38px;
}
.grey{
	color:#858585;
}
.l-orange{
	color:#c7c159;
}
.l-orange.small-mn {
	padding-left: 12px;
	margin-right: 38px;
	background: url(../img/sm-mn.png) no-repeat 0 1px;
}
.inf-block-2 .inf-number {
	font-size: 14px;
	line-height: 28px;
}
.inf-block-2  {
	margin-top: -2px;
	width: 100%;
}
.control-group + .inf-number {
	margin-left: 12px
}
.head_author_line .xtr-btn,
 .xtr-btn {
padding: 17px 23px;
margin: 2px 0 0 0;
text-transform: uppercase;
font-family: 'acrombold';
font-size: 12px;
}
 .xtr-btn {
 padding: 12px 23px;
 }
.no-b {
	font-weight: normal;
}
.h-line-st {
	color: #4d4d4d;
	font-size: 14px;
	margin-bottom: 10px
}
.quart-p p{ 
	float: left;
	width: 49%;
	font-family: Arial;
	margin-top: 0;
}
.sm-nmv .inf-number {
	font-size:14px;
	display: block;
	width: 40%;
	float:left;
	margin: 0 0 10px;	
	font-family: Arial;
	margin-right: 10px;
}
.sm-nmv .inf-number-2 {
	display: initial;
	width: auto;
	float:none;
}
.zv-chk {
	margin-top: 50px;
}
.tarif-info  {
	line-height: 1;
}
.tarif-info  p{
	font: bold 13px Verdana;
	margin-bottom: 10px;
}
.tarif-info  p:last-child{ 
	font-size: 12px;
	margin-top: 10px;
}

i.zvk-icons{
background: url(../img/zvk-sprite.png) no-repeat;
display: block;
width: 18px;
height: 18px;
margin: 0 2px 0 0;
}

i.play-icons {
	background-position: 5px 0;
}
i.pause-icons {
	background-position: -15px 0;
}
i.edit-icons {
	background-position: -33px 0;
}
i.user-icons {
	background-position: -57px 0;
}
i.cheks-icons {
	background-position: -82px 0;
}
i.graph-icons {
	background-position: -108px 0;
}
i.plus-icons {
	background-position: -132px 0;
}
i.breaf-icons {
	background-position: -156px 0;
}
i.delete-icons {
	background-position: -177px 0;
}
i.pro-icons {
	background-position: -200px 0;
	width: 33px
}

i.zvk-icons-inverted.play-icons {
	background-position: 5px -17px;
}
i.zvk-icons-inverted.pause-icons {
	background-position: -15px -17px;
}
i.zvk-icons-inverted.edit-icons {
	background-position: -33px -17px;
}
i.zvk-icons-inverted.user-icons {
	background-position: -57px -17px;
}
i.zvk-icons-inverted.cheks-icons {
	background-position: -82px -17px;
}
i.zvk-icons-inverted.graph-icons {
	background-position: -108px -17px;
}
i.zvk-icons-inverted.plus-icons {
	background-position: -132px -17px;
}
i.zvk-icons-inverted.breaf-icons {
	background-position: -156px -17px;
}
i.zvk-icons-inverted.delete-icons {
	background-position: -177px -17px;
}

i.zvk-author-icons{
    background: url(../img/actions_white.png) no-repeat;
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 2px 0 0;
}
i.favorite-icons{
    background-position:-60px 0px;
}
i.favorite-del-icons{
    background-position:0px 0px;
}
i.blacklist-icons{
    background-position:-20px 0px;
}


i.returnproject{
	background: url(../img/icon_return.png) no-repeat;
	background-position: -17px -29px;
	height: 17px;
	margin-top: -2px;
}
i.returnproject-white{
	background: url(../img/icon_return.png) no-repeat;
	background-position: -44px -29px;
	margin-top: 1px;
	margin-left: -2px;
}

.last-td-zvk ul {
	margin:25px 0 0 -12px
}
.last-td-zvk ul li{
	margin: 0 0 0 3px;
}
.last-td-zvk ul li i{
	margin: 0 0 0 2px;
        display: inline-block;
}
ul.unstyled.inverted-bottom-ul {
	width: 340px;
	margin:	25px 0 0 210px
}
ul.unstyled.inverted-bottom-ul li{
	margin: 5px 10px 0 0;
}
ul.unstyled.inverted-bottom-ul li i.pro-icons{
	margin-top: 1px
}
.zvk-st {
	padding: 4px 8px; 
	text-align: center;
	text-transform: uppercase;
	font: bold 10px Arial;
	color:#fff;
	margin-left: 18px;
}
.zvk-st-bl {
	background: #b54444;
}
.zvk-st-act {
	background: #4fa12c;
}
.zvk-st-st {
	background: #9d9d9d;
}
.zvk-st-nb {
	background: #ff0000;
}
.single-body a:hover {
	text-decoration: underline;
}
.p-methods {
	background: url(../img/p-methods.png) no-repeat;
	display: inline-block;
	width: 71px;
	height: 35px;
	margin: 0px 5px 0 0;
	top: 13px;
	position: relative;
}
.sposp {margin: 0 0 10px;}
.p-webmony {
	background-position: 0 -75px;
}
.p-qiwi {
	background-position: 0 -149px;
}
.p-yandex {
	background-position: 0 -38px;
}
.p-w1 {
	background-position: 0 -1px;
}
.p-robokassa {
	background-position: 0 -112px;
}
.p-interkassa {
	background-position: 0 -186px;
}
.single-finance .radio {
	float: left;
	width: 50%;
}
.tooltipsy
    {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    word-wrap: break-word;

    padding: 12px;
        max-width: 250px;
        color: #fff;
		font-size: 12px ;
		font-family: 'Verdana';
		line-height: 15px !important;
        background-color: #161616;
    }
.sticky-menu {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 99;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.ui-datepicker {
	width: 275px
}
.calendar, .calendar2 {
	position: absolute;
	top: 275px;
	z-index: 998;
	display: none
}
.calendar2 {padding-left: 168px}

#re_form .calendar, #re_form .calendar2 {
	position: absolute;
	top: 185px;
	z-index: 998;
	display: none
}
#re_form .calendar2 {padding-left: 168px}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
.loginboxforgot {float: right; margin-top: 20px}
.big_window {width:500px; height: auto; padding-bottom: 25px}

.file_upload{
    display: block;
    position: relative;
	cursor: pointer;
    overflow: hidden;
	max-width: 150px;
	width: 150px;
	font-family:acrombold;
	height: 40px;
	margin: 0;
	margin-bottom: 10px;
}
.file_upload input[type=file]{
    position: absolute;
    top: 0;
    opacity: 0
}
.file_upload > mark{
    background: transparent;     
	color:#fff;
	white-space: nowrap;
	 text-overflow: ellipsis; 
	 display: block;
	 overflow: hidden;	
	 text-transform: uppercase;
	 line-height: 10px
}

.inline-btn span {
	line-height: 38px;
	padding-left: 20px;
	color: #a0a0a0;
	font-size: 12px;
	font-family: Verdana
}
.comments-body {line-height: 15px}

.type-project {
	font-family: 'acrombold';
	overflow: hidden;
	width: 1000px;
	margin: 90px auto 0;
} 	
.type-project a {
	color:#4fa12c;
	font-size: 16px;
	line-height: 18px;
	text-align:center;
}
.type-project li {
	width: 190px;
	height: 210px;
	float: left;
	position: relative;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
} 
.type-project li  a,
.type-project li  a span
{
	display: block;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
}

.type-project li:first-child {
	background: url(../img/comments-i.png) no-repeat center top;
	margin-right: 60px;
}
.type-project li:last-child {
	background: url(../img/video-i.png) no-repeat center top;
}
.type-project li:nth-child(3){
	background: url(../img/followers-i.png) no-repeat center top;
	margin-right: 60px;
}
.type-project li:nth-child(2){
	background: url(../img/repost-i.png) no-repeat center top;
	margin-right: 60px;
}
.type-project li span {
	padding-top: 155px
}
.type-project li:hover{
	-webkit-filter: contrast(120%);
	opacity: 0.9
}
.type-project li:hover span{
	padding-top: 145px;
	padding-bottom: 10px;
	-webkit-filter: contrast(140%);
}

@media (max-width: 1000px) {
 #header {
  position: relative;
 }
 #content {
  padding-top: 0
 }
}

#blockplus {
	position: fixed;
	bottom: 0;
	height: 25px;
	color: black;
	padding-top: 5px;
	background-color: white;
	font-size: 12px;
	padding-left: 20px;
	width: 100%;
	display: none;
	z-index: 1000;
	border-top:2px solid rgb(77, 77, 77);
}

.highlight {
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
    padding:1px 1px;
    margin:0 -4px;
}

.compText{
    float: left;
    line-height: 20px;
    margin: 11px 47px 31px 41px;
    position: relative;
    width: 93%;
}

.isCompare{
    color: #ff0000;
}
table.items a.sort-link{
    color: #4d4d4d;
    font-weight: bold;
}
table.items{
    font: 12px Verdana;
}
table.items a.sort-link.desc, table.items a.sort-link.asc {
    color: #4fa12c;
}

#inform_user_message p {
	margin-bottom: 10px;
	text-indent: 20px;
}

#inform_user_message {
	margin-bottom: 15px;
	
}
#inform_user {
	color: #404040;
}
#inform_user label:hover {
	cursor: pointer;
}

#inform_user .c3-chart-arc text {
	display: none !important;
}

.pagination{
    height: 60px;
}
.rezervProject, .noteProject{
    margin: 32px 13px;
    float: right;
}
.noteProject{
    color: #fff;
}
.noteProject.active{
    color: #ff0000;
}
i.zvk-icons-search-menu{
    background: url(../img/search-line-icon-menu.png) no-repeat;
    display: block;
    width: 18px;
    height: 18px;
    margin: 0 2px 0 0;
}

#bonuse_balance{
    position: absolute;
    
}
a.pre{
    word-wrap: break-word;

    width: 565px;
    display: block;
}

.isOnline{
    background-color: #4fa12c;
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    left: 2px;
    position: relative;
    top: -9px;
    width: 7px;
}
.loader-project{
    text-align: center;
}
.gif-loader-project{
    height: 30px;
    width: 30px;
}

#opacityForm{
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: none;
}

.row .disablePrice{
    float: left;
    font-weight: bold;
    line-height: 32px;
    position: relative;
}

.wrInp.disableEdit{
    line-height: 28px;
    position: relative;
    cursor: pointer;
    width: 45px;
    text-align: center;
}

.wrInp.disableEdit span{
    font-weight: bold;
}

.paramForPr .project_title span{
    color: #4fa12c;
    font-weight: normal; 
}

div.smile-bad a,ul li.smile-bad a{
    background: url(../img/smile_bad_2.png) no-repeat;
    width: 16px;
    height: 16px;
    display: block;
}
div.smile-bad a{
    padding-left: 20px;
    cursor: pointer;
    font-family: Arial;
    font-size: 14px;
}

#count_on_page{
    width: 180px !important;
    float: right;
    margin-top: 12px;
    margin-bottom: 60px;
}
.yiiTab.tabs-view{
    margin-bottom: 15px;
}
.yiiTab.tabs-view div.view{
    border-bottom: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;

}
.yiiTab.tabs-view ul.tabs a.active{

    border-bottom: 1px solid #fff;
    background-color: #fff;
}
.yiiTab.tabs-view ul.tabs {
    border-bottom: 1px solid #e9e9e9;


}
.yiiTab.tabs-view ul.tabs a{
    outline: none;
    color: #4d4d4d;
    font-family: Verdana;
    font-size: 12px;
    background-color: #e9e9e9;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
#massMenu a{
    cursor: pointer;
}
table .bt-group a{
    display: inline-block;
}
table .bt-group a i{
    background: rgba(0, 0, 0, 0) url("../img/zvk-sprite.png") no-repeat scroll 0 0;
    display: block;
    height: 18px;
    overflow: hidden;
    width: 18px;
}
table .bt-group a.update i{
    background-position: -33px 0;
}
table .bt-group a.delete i{
    background-position: -177px 0;
}
.task-block{
    margin-right:15px ;
    float: left;
}
.remind-block, .task-block{
    display: inline-block;
    width: 504px;
}
.remind-block .items,.task-block .items{
    max-height: 400px;
    overflow-y: auto;
    color: #3d3d3d;
    font-size: 13px;
}
.task-block.admin .items{
    max-height:none;
}
.remind-block .items div,.task-block .items div{
    padding: 0 7px;
    background-color: #f2f2f2;
	width: 500px;
}
.history.remind-block .items div,.history.task-block .items div{
	width: 100%;
}
.remind-block .items div:hover, .task-block .items div:hover{
    background-color: #EAEAEA;

}
.remind-block .items div p, .task-block .items div p{
    padding: 7px 0;
    margin: 5px 0;

}
.remind-block .items div:first-child p,.task-block .items div:first-child p{

    margin:0;

}
.remind-block .items div span.date-remind, .task-block .items div span.date-remind{
    margin: 5px 0;
    display:block;
}
.remind-block .items div span label, .task-block .items div span label{
    color: #8c8c8c;
}
.user-block .history-block,
.remind-block .history-block,
.task-block .history-block{
    display: block; height: 20px; margin: 5px 0;
    text-align: right;
}
.user-block .items div span.created,
.remind-block .items div span.created,
.task-block .items div span.created{
    font-size: 10px;
    color: #8c8c8c;
    display: block;
    text-align: right;
}
.history.remind-block{
    width: 100%;
}
.history.remind-block .items{
    max-height:none;
}

.user-block div.manager-item,
.manager-block div.manager-item{
    background-color:#f2f2f2;
    padding: 10px 5px;
    margin: 5px 0;

height: 180px;
	display: -webkit-flex;
	display: flex;


}
.user-block div.manager-item:hover,
.manager-block div.manager-item:hover{
    background-color: #EAEAEA;
}

.user-block div.manager-item div.block1,
.manager-block div.manager-item div.block1{
    width: 400px;
    display: inline-block;
    line-height: 20px;
	float: left;
}
.user-block div.manager-item div.block2:,
.manager-block div.manager-item div.block2{
	width: 400px;
	display: inline-block;
	line-height: 20px;

}
.user-block div.manager-item div.block-action,
.manager-block div.manager-item div.block-action{
    width: 200px;
    float: right;
    position: relative;
}
.user-block div.manager-item div.block-action span.user-action,
.manager-block div.manager-item div.block-action span.user-action{
    display: block;
    height: 18px;

}
.user-block div.manager-item div.block-action span.label,
.manager-block div.manager-item div.block-action span.label{
    width: 80%;

}

.user-block div.manager-item div.block-action span.val,
.manager-block div.manager-item div.block-action span.val{
    margin-left: 82%;
}

.user-block div.manager-item span.label,
.manager-block div.manager-item span.label{
    color: #8c8c8c;
    float: left;
    width: 34%;
    text-align: right;

}

.user-block div.manager-item span.val,
.manager-block div.manager-item span.val{
    color: #3d3d3d;
    display:block;
    margin-left: 36%;
}
a.user_note.active{
    color: #bc3c3c;
}

#add_user, #add_remind{
    cursor:pointer;
    foat: left;
    background-image: url('/img/add.png');
    height: 16px;
    width: 16px;
    display: inline-block;
}
#noteMore{
    position: absolute;
    right: 10px;
    bottom: 30px;
}
#balancelog_grid{
    max-height: 230px;
    overflow: auto;
    display: block;
}


#balancelog_grid table{
    margin-bottom: 0;
}
.user-block table.items{
	width: 1020px;
}
.expect-pay{
	height: 10px;
	width:10px;
	background-color: #FF0000;
	position: absolute;
	right: -20px;
	top: 25px;
	border-radius:50% ;
	cursor: pointer;
}
.expect-pay.done{
	background-color: #4fa12c;
}