ErrorDocument 404 /404

RewriteEngine on

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]
php_flag apc.cache_by_default Off
AddDefaultCharset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml
order allow,deny
 deny from 95.106.162.199
 allow from all
