body {
	padding-top: 0px;
	padding-bottom: 0px;
}

.group-title a {
	font-size: 170%;
	text-decoration: none;
}

.ask-form {
	margin: 0 auto;
	text-align: center;
	max-width: 95%;
}

textarea {
	font-size: 110% !important;
	resize: none;
}

textarea:disabled{
	margin:0 auto;
	background: url("../images/loading.gif") no-repeat;
	background-position: center center;
}

.group-description {
	font-size: 60%;
	word-wrap: break-word;
}

.captcha {
	border: 1px solid #dce4ec;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.col-md-4 {
	padding-bottom: 10px;
}

.counlive {
	display: none;
}

.input-group-addon {
	background-color: #18bc9c !important;
}

.fileinput {
	line-height: 0;
}

.rating {
	padding-bottom: 10px;
}

footer {
	margin-top: 10px;
} 

.btn-lg {
	padding: 23px 27px;
}

.footer-links {
	text-align: center;
}

.ad {
	max-width: 95%;
	text-align: center;
}	

/* ВСПЛЫВАЮЩИЕ ОКНА */ /* ВСПЛЫВАЮЩИЕ ОКНА */ /* ВСПЛЫВАЮЩИЕ ОКНА *//* ВСПЛЫВАЮЩИЕ ОКНА */ /* ВСПЛЫВАЮЩИЕ ОКНА */
#wrap{
	display: none;
	opacity: 0.8;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	background-color: rgba(1, 1, 1, 0.725);
	z-index: 100;
	overflow: auto;
}
 
#window {
	width: 50%;
	display: none;
	z-index: 200;
	position: fixed;
	left: 25%;
	right: 25%;
	top: 25%;
	bottom: 0;
   overflow-y: scroll;
  overflow-x: auto;
}

.window_title{
	float: left;
	width: 100%;
	padding: 0px 0px 20px 0px;
}

.window_title .name{
	float: left;
	font-size: 110%;
}

.window_title .close_win{
	float: right;
	font-size: 110%;
	font-weight: bold;
	cursor: pointer;
}
 
.win_input {
	border: 1px solid #dce4ec;
	border-radius: 4px;
	margin: 0px 0px 10px 0px;
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
}

#ajax_answer_polls {
	float: left;
	width: 100%;
}

